<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>node Playground</title>
  </head>
  <body>
    {{> header}}
    <p>This is the portfolio page...</p>

    {{> footer}}
  </body>
</html>
